Package: com.exelance.bigogram
Name: BigoGram
Version: 1.2.2
Architecture: iphoneos-arm
Description: Feature package for iOS
Homepage: https://github.com/EXELANCE-LLC/ryukgram
Maintainer: EXELANCE LLC
Author: EXELANCE LLC
Section: Tweaks
