Package: com.faroukbmiled.ryukgram
Name: RyukGram
Version: 1.3.3
Architecture: iphoneos-arm
Description: A feature-rich tweak for Instagram on iOS, based on SCInsta
Homepage: https://github.com/Qeyf/ryukgramPro
Maintainer: Ryuk / Qeyf
Author: Ryuk
Section: Tweaks
Depends: mobilesubstrate
